.closeButton {
  border: none;
  cursor: pointer;
  position: absolute;
  left: 20px;
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.closeButton svg {
  width: 24px;
  height: 24px;
  fill: #dcdcdc;
  transition: fill 0.3s ease;
}

@media (hover: hover) {
  .closeButton:hover svg {
    fill: #fff;
  }
}
