.img_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 0 20px;
}

.img_item {
  position: relative;
  border: 1.5px solid #f1f1f1;
  border-radius: 6px;
  height: 450px;
}

.img_box {
  height: 100%;
}

.img_box a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.img_box a img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  object-fit: fill;
}

.img_box a img[src=''],
.product-image:not([src]) {
  background-color: #f1f1f1;
}

.hover_info_area {
  position: absolute;
  display: none;
  top: 0px;
  right: 0px;
  border-radius: 6px;
}

.hover_info_area button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 32px;
  background-color: #e9e9e9;
  transition: background-color 0.3s ease;
  border-radius: 6px;
  box-shadow: 0 1px 2px #0000001a;
}

.etc_box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 15px;
  color: #fff;
  font-weight: 500;
}

.etc_box span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hover_info_area button .like {
  fill: #e04c4c;
}

.hover_info_area button:hover {
  background-color: #f6f6f6;
}

.img_item:hover .hover_info_area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px 20px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
