.img_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 0 20px;
}

.img_item {
  position: relative;
  /* flex: 0 1 300px; */
  border: 1.5px solid #f1f1f1;
  border-radius: 6px;
  height: 500px;
}

.img_box {
  height: 100%;
}

.img_box a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.img_box a img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.img_box a img[src=''],
.product-image:not([src]) {
  background-color: #f1f1f1;
}

.util_box {
  position: absolute;
  top: 25px;
  right: 25px;
}

.like_button {
}
