/* image section */
.image_section {
  margin-bottom: 13px;
}

.image_section > div {
  height: 100%;
}

.img_list {
  padding: 0 20px 20px 20px;
  height: 100%;
}

.img_item {
  position: relative;
  border: 7px solid #fff;
  border-radius: 8px;
  height: 100%;
}

.img_item div img {
  border-radius: 4px;
  object-fit: fill;
}

.hover_info_area {
  position: absolute;
  top: 0px;
  right: 0px;
  display: none;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  padding: 20px 20px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

.etc_box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 32px;
  font-size: 15px;
  color: #fff;
  font-weight: 500;
}

.img_item:hover .hover_info_area {
  display: flex;
}

.img_item button {
  position: absolute;
  top: 20px;
  right: 20px;
  display: none;
}

.img_item button + a {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: none;
}

.img_item:hover button + a {
  display: flex;
}

.img_item:hover button {
  display: flex;
}
