.like_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 32px;
  background-color: #808080;
  transition: background-color 0.3s ease;
  border-radius: 6px;
  box-shadow: 0 1px 2px #0000001a;
}

.like_button .like {
  fill: #e04c4c;
}
@media (hover: hover) {
  .like_button:hover {
    background-color: #fff;
  }
}

@media (max-width: 768px) {
  .like_button {
    background-color: #fff;
  }
}
