/* nav */

.nav{
  order: 3;
  flex: 1 0 auto;
}

.nav_list{
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 56px;
  box-shadow: 0 1px #0000001f;
  gap: 20px;
}

.nav_item{
  display:flex;
  align-items: stretch;
  height: 100%;
  text-align: center;
  flex: 1 1 auto;
  width: 120px;
}

.nav_item a{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto
}