/* visual section  */

.visual_section {
  position: relative;
  height: 460px;
  margin-bottom: 20px;
}

.visual_section_inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 40px;
  margin: 0 auto;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.visual_section div:last-child img {
  object-fit: cover;
  object-position: center;
}

@media (min-width: 320px) and (max-width: 1023px) {
  .visual_section_inner {
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
  }
}

.section_title {
  font-size: 48px;
  font-weight: 700;
  line-height: 52px;
  margin-bottom: 16px;
}

.section_description {
  width: 1024px;
  font-size: 19px;
  line-height: 28px;
  word-break: keep-all;
  font-weight: 500;
}

@media (max-width: 1023px) {
  .section_description {
    width: 100%;
    text-align: center;
  }
}
