/* visual section  */

.visual_section {
  position: relative;
  height: 460px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.2);
}

.skeleton {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(
    120deg,
    #e5e5e5 30%,
    #f0f0f0 38%,
    #f0f0f0 40%,
    #e5e5e5 48%
  );
  transition: 3s;
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: load 1.5s infinite;
}

@keyframes load {
  100% {
    background-position: -100% 0;
  }
}

.skeleton.isDisabled {
  opacity: 0%;
}

.visual_section_inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 40px;
  width: 1023px;
  margin: 0 auto;
  color: rgb(255, 255, 255);
}

@media (min-width: 320px) and (max-width: 1023px) {
  .visual_section_inner {
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
  }
}

.section_title {
  font-size: 48px;
  font-weight: 700;
  line-height: 52px;
  margin-bottom: 16px;
}

.section_description {
  font-size: 19px;
  line-height: 28px;
  font-weight: 500;
}

.visual_img_area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 460px;
  z-index: -1;
}

.visual_img_area img {
  display: block;
  width: 100%;
  height: 460px;
  object-fit: cover;
}
