/* wrap */
.wrap {
  padding-top: 120px;
}

/* header */
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  min-width: 360px;
  height: 120px;
  z-index: 1000;
  background-color: #fff;
}

@media (max-width: 561px) {
  .wrap {
    padding-top: 120px;
  }
  .header {
    height: auto;
  }
}

.logo_search_group {
  display: flex;
  flex-wrap: wrap;
  row-gap: 4px;
  padding-top: 20px;
  background-color: #fff;
}

/* logo */

.logo {
  order: 1;
  width: 40px;
  height: 40px;
  margin: 0 20px;
}

.logo a {
  display: block;
  width: 40px;
  height: 40px;
}

.logo img {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}

/* nav */

.nav {
  order: 3;
  flex: 1 0 auto;
  margin-bottom: 0.2px;
}

/* image section */
.image_section {
  margin-bottom: 20px;
}
