.wrap {
  padding-top: 120px;
}

@media (max-width: 359px) {
  .wrap {
    padding-top: 186px;
  }
}


/* header */
.header{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 120px;
  z-index: 1000;
  background-color: #fff;
}

.logo_search_group{
  display: flex;
  flex-wrap: wrap;
  row-gap: 4px;
  padding-top: 20px;
}

@media (max-width: 359px) {
  .header{
    height: 186px;
  }

  .logo_search_group{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    row-gap: 15px;
  }
}

/* logo */

.logo{
  order: 1;
  width: 40px;
  height: 40px;
  margin: 0 20px;
}

.logo a{
  display: block;
  width:  40px;
  height:  40px;
}

.logo img{
  display: inline-block;
  vertical-align: top;
  width: 100%;
}

/* nav */

.nav{
  order: 3;
  flex: 1 0 auto;
}

.nav_list{
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 56px;
  box-shadow: 0 1px #0000001f;
  gap: 20px;
}

.nav_item{
  display:flex;
  align-items: stretch;
  height: 100%;
  text-align: center;
  flex: 1 1 auto;
  width: 120px;
}

.nav_item a{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto
}

.nav_itme:first-child{

}

/* search_form */

.img_search_area{
  order: 2;
  flex: 1 1 calc(100% - 100px);
  height: 40px;
  margin-right: 20px;
  border-radius: 24px;
  background-color: #eee;
  box-shadow: 0 0 0 1px #eee;
  transition: all .1s ease-in-out;
}

@media (max-width: 359px) {
  .img_search_area{
    margin-right: 0;
  }
}

.img_search_form{
  height: 40px;
}

.img_search_fieldset{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 15px;
  
}

.img_search_fieldset input{
  flex: 1 1 auto;
  height: 100%;
}

.img_search_fieldset button{
  flex: 0 1 auto;
  height: 100%;
}

.img_search_fieldset input + button{
  margin-left: 10px;
}

/* visual section  */

.visual_section{
  height: 460px;
  margin-bottom: 48px;
  background-color: #f1f1f1;
}

.visual_section_inner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 40px;
  width: 1023px;
  margin: 0 auto;
}

@media (min-width: 320px) and (max-width: 1023px) {
  .visual_section_inner{
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
  }
}

.section_title{
  font-size: 48px;
  font-weight: 700;
  line-height: 52px;
  margin-bottom: 16px;
}

.description{
  font-size: 18px;
  line-height: 28px;
}

/* img_list section */


.images_section_inner{
  padding: 0 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
}

@media (min-width: 320px) and (max-width: 1023px) {
  .images_section_inner{
    display: block;
  }
}

.img_list{
  display: grid;
  grid-template-columns: repeat(1, minmax(0px, 400px));
  justify-content: center;
  gap: 20px;
}

@media (min-width: 767px) and (max-width: 1023px) {
  .img_list{
    grid-template-columns: repeat(2, minmax(0px, 400px));
  }
}

@media (max-width: 767px) {
  .img_list{
    grid-template-columns: repeat(1, minmax(0px, 400px));
  }
}


.img_list:nth-child(1) .img_item:nth-child(odd){
  height: 300px;
}

.img_list:nth-child(2) .img_item:nth-child(even){
  height: 300px;
}

.img_list:nth-child(3) .img_item:nth-child(odd){
  height: 300px;
}

@media (min-width: 320px) and (max-width: 1023px) {
  .img_list:nth-child(1) .img_item:nth-child(odd){
    height: auto;
  }
  
  .img_list:nth-child(2) .img_item:nth-child(even){
    height: auto;
  }
  
  .img_list:nth-child(3) .img_item:nth-child(odd){
    height: auto;
  }
}

.img_item{
  position: relative;
  border:1.5px solid #f1f1f1;
  border-radius: 6px;
  height: 500px;
}


.img_box{
  height: 100%;
}

.img_box a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.img_box a img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* background-color: #f1f1f1; */
}

.img_box a img[src=""], .product-image:not([src]){
  background-color: #f1f1f1;
}

.util_box{
  position: absolute;
  top: 25px;
  right: 25px
}

.like_button{}