.img_detail {
  width: 100%;
  height: calc(100vh - 120px);
}
.img_detail_inner {
  width: 100%;
  height: 100%;
}

.img_detail_contaniner {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background-color: #fff;
  height: 100%;
}

.img_detail_header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  height: 80px;
}

.img_detail_header button {
  background-color: #fff;
  box-shadow: 0 3px 5px #0000001a;
}

.img_detail_header a span {
  color: #111;
  font-size: 15px;
}

.img_detail_header button svg {
  transition: fill 0.3s ease;
}
@media (hover: hover) {
  .img_detail_header button:hover svg {
    fill: #e04c4c;
  }
}

.img_detail_contents {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  height: calc(100% - 160px);
}

.img_detail_contents div img {
  height: 654px;
  object-fit: contain;
}

.img_detail_footer {
  padding: 20px;
  height: 80px;
}

.img_detail_footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.img_detail_footer ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  flex: 0 1 120px;
}

.img_detail_footer ul li span {
  font-size: 14px;
  color: #767676;
}

.img_detail_footer ul li span + span {
  font-size: 16px;
  font-weight: 500;
  color: #111;
}
